:root {

  --blanco: #FFFFFF;
  --gris-100: #F3F4F6; 
  --gris-300: #D1D5DB; 
  --gris-400: #9CA3AF; 
  --gris-600: #4B5563; 
  --fondo-base: #111827;
  --fondo-oscuro: #030712; 

  --estructura-dark: #022C22; 
  --estructura: #064E3B;
  --accion-secundaria: #047857;
  --accion-secundaria-hover: #059669; 

  
  --accion-primaria-dark: #059669; 
  --accion-primaria: #10B981;
  --accion-primaria-light: #34D399; 
  --accion-primaria-lighest: #D1FAE5; 
}