:root {
  /*Coolores*/
  --blanco: #FFFFFF;
  --bg-base: #F9FAFB;
  --estructura-oscura: #1E293B;
  --borde-suave: #D1D5DB;
  --texto-principal: #111827;
  --texto-secundario: #4B5563;
  --accion-primaria: #10B981;
  --accion-primaria-hover: #059669;
  --accion-secundaria: #F3F4F6;
  --accion-secundaria-texto: #374151;
  --peligro: #EF4444;
  --peligro-hover: #DC2626;

  /*Fuentes de texto*/
  --fuente-titulos: 'Montserrat', sans-serif;
  --fuente-principal: 'Inter', sans-serif;
}